.wrapper {
  position: relative;
  height: 100%;
  width: fit-content;
}
.wrapper-img {
  display: block;
  height: 100%;
  width: auto;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.players-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 30%;
}

.gaming-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
