.parent-box {
  display: flex;
  justify-content: space-evenly;
  height: 100dvh;
  align-items: flex-start;
}

.game-board {
  flex-basis: 70%;
}

.gaming-stats {
  padding: 1rem;
  flex-basis: 30%;
}
